/*body
{
    background: linear-gradient(to right, white,#20BF55);
}*/

#my_icon
{
    height: 20px;
    width: 20px;
}

hr
{
    width: 250px;
    border: 2px solid black;
    float: left;
    margin-left: 10px;
}

h2
{
    float: right;
    margin-right: 20px;
    margin-top: -50px;
}

#barkat
{
    font-size: 45px;
}

.container
{text-align: left;}

